<div class="cit">
    <div class="cit-val">
        <b class="cit-val-name">Article name</b>
    </div>
    <div class="cit-controls">
        <button id="cit-inc" class="button is-danger ">
            <span class="icon is-small">
                <i class=" gg-add"></i>
            </span>
        </button>
        <b id="cit-count">100</b>
        <button id="cit-dec" class="button is-info ">
            <span class="icon is-small">
                <i class=" gg-remove"></i>
            </span>
        </button>
    </div>
</div>