body{
    /* background-color: pink; */
}

.menu-icon {
    margin: 0 8px 0 1em;
}

.articles-container{
    /* background-color: palegoldenrod; */
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.search-area{
    min-height: 5em;
    padding: 1em 0 1em 0;
}

.search-area .sb{
    width: 20em;
}

.auth-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2em 0 0 0;
}


form.login-f{
    
    padding: 1em;
    background-color: pink;
    height: auto
    
}



.login-f input {
    width: 20em;
    border: none;
    height: 2.5em;
    padding: 5px 5px;
}

.login-f label{
    font-weight: 800;
}

.art-vert-tpl{
    min-width: 20em;
    width: 30%;
    min-height: 8em;
    max-height: 10em;
    height: auto;
    box-shadow: 0 0.5em 0.8em -0.125em rgba(10, 10, 10, 0.096), 0 0 0 1px rgba(10,10,10,.02);
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.5em;
    cursor: pointer;
}

.art-vert-tpl:hover{
    border: 1px solid rgba(30, 144, 189, 0.658);
}


.art-vert-tpl .img-section{
    left: 0;
    top: 0;
    bottom: 0;
    width: 8em;
    height: 100%;
    min-height: 8em;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.add-cart {
    align-self: center;
    justify-content: center;
    visibility: hidden;
}

.img-section:hover > .add-cart{
    visibility: visible;
}

.art-vert-tpl .data-s{
    padding-top: 12px 0px;
    margin: 0.5em 0 0 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}


/* Cart modal styles */
#cart-modal {
    background-color: pink;
    
}

.mcb-articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}

#items-table i{
    font-size: 5px;
    /* color: red; */
}

.cart-dialog{
    height: 90vh;
    width: 80vw;
    background-color: antiquewhite;
}


.cit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-width: 15em;
    width: auto;
    max-width: 20em;
    height: 3em;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0.5em 0.8em -0.125em rgba(10, 10, 10, 0.096), 0 0 0 1px rgba(10,10,10,.02);
    margin: 0.5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.473);
    padding: 0.4em 0.2em;
}

.cit-count{
    width: 2em;
    font-size: 20px;
    font-weight: 700;
    color: green;
    margin: 0em 0.5em;
    padding: 0 10px;
}

.cit-vals{
    /* width: 60%; */
    height: 100%;
    padding: 5px 10px;
    /* background-color: pink; */
}

.cit-controls{
    /* width: 40%; */
    margin: 0 0 0 0.5em;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* end cart modal styles */